<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史记录</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/re.css">
    <script src="../static/js/doData.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="index.html">
            <img src="../static/ocrImg/logo.jpg" alt="">
            <span>OCR文字识别</span>
        </a>
    </div>
    <div class="main">
        <div class="left">
            <div class="logs">
                <span>识别记录</span>
            </div>
        </div>
        <div class="right">
            <table class="table">
                <thead class="thead">
                <tr>
                    <th>序号</th>
                    <th>图片</th>
                    <th>识别结果</th>
                    <th>识别时间</th>
                    <th>识别模型</th>
                </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>